body,html{
    margin: 0;
    height: 100%;

}
body {
    background-color: whitesmoke;
}
.wrapper {
    display: flex;
    min-height: 100vh; /* Full viewport height */
}
.sidebar {
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-link {
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.nav-link:hover {
    color: #0d6efd;
}
.nav-link.active {
    background-color: #0d6efd;
    color: white !important;
}
.plan-card {
    background-color:lightblue;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    overflow-x: scroll;
}
.plan-card::-webkit-scrollbar {
    display: none;
}

    .plan-badge {
        background-color: #d1e7ff;
        color: #0071eb;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .price {
        font-size: 24px;
        font-weight: bold;
    }

    .btn-buy {
        width: 100%;
        background-color: #0047ff;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
    .btn-buy:hover{
        background-color: rgb(11, 11, 196);
        color: white;
    }
    .All_Plans {
        flex: 1;
    }
    .nav-tabs .nav-link {
        color: black !important;
    }
    .nav-tabs .nav-link.active {
        color: #007bff !important;
        font-weight: bold;
    }

    .slanted {
        font-size: larger;
        display: inline-block;
        transform: skewX(-20deg);
        color: #007bff;
    }
    .normal {
        font-size: larger;
        color: black;
    }