/* Apply Poppins font to the whole page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[data-bs-theme="dark"]{
    background-color: black;
}

body[data-bs-theme="dark"] .form-container{
    background-color: #1e1e1e;
}

.navbar-brand
.footer-brand{
    font-size: 48px;
    font-weight: bold;
    font-family: 'poppins';
}
.slanted {
    display: inline-block;
    transform: skewX(-20deg);
    color: #007bff;
}
.normal {
    color: black;
}
body[data-bs-theme="dark"] .normal {
    color: white;
}
body[data-bs-theme="dark"] .navbar{
    background-color: #2b3035;
}
body[data-bs-theme="dark"] .footer{
    background-color: #2b3035;
}

body[data-bs-theme="light"] .navbar{
    background-color: #f1effd;
}
body[data-bs-theme="light"] .footer{
    background-color: #f1effd;
}

#loginBtn{
    width: 100%;
}

input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: none !important;
    outline: none !important;
}


/* Make the main content take available space */
.login {
    flex: 1;
}

/* Fix the footer at the bottom */
.footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

#themeToggle {
    background: none !important; 
    border: none !important; 
    box-shadow: none !important; 
    padding: 5px; 
}

#themeIcon {
    font-size: 24px; 
    color: inherit !important; 
}

body[data-bs-theme="light"] #themeIcon {
    color: black !important;
}

body[data-bs-theme="dark"] #themeIcon {
    color: white !important;
}

#otp-inputs {
    gap: 10px;
  }
.otp-input {
    border: 1px solid grey !important;
    width: 40px;
    text-align: center;
    font-size: 1.5rem;
}

#mobilenumber {
    margin-bottom: 5px;
}

#getOtp {
    margin-top: 5px;
    display: block;
    width: auto;
    margin-bottom: 10px;
}

.login .container-fluid {
    display: flex;
    align-items: center;
    width: 100%;
}

.login .row {
    flex-grow: 1;
}

#mobilenumber{
    border: 1px solid grey;
}