/* Apply Poppins font to the whole page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#submit {
    width: 100%;
}

/* Ensure form-container does not exceed its column width */
.form-container {
    background-color: white;
}

/* Remove focus outline */
input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Make the image cover full height */
.img-fluid {
    object-fit: cover;
    width: 100%;
}
